<h1>FoodGroup Edit Page</h1>
<div>
  <h3>Current data:
  </h3>
  <p class='index_view'>Name:</p><%= @group.name %><br>

  <%= form_for(@group) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <%= f.submit %>
  <% end %>

</div>
