<%= form_for current_user do |f| %>
<%= f.fields_for :meals do |meal_builder| %>

<% if meal_builder.object.errors.any? %>
<div id="error_explanation" class="flash_style">
  <h2>There were some errors:</h2>
  <ul>
    <% meal_builder.object.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% if !meal_builder.object.id.present? %>
<fieldset>
  <legend><%= meal_builder.object.mealname.name %></legend>
  <%= meal_builder.label :mealdate %>
  <%= meal_builder.date_select :mealdate %><br>
  <div class="field<%= '_with_errors' if meal_builder.object.errors[:food].any? %>">
    <%= meal_builder.label :food %>
    <%= meal_builder.collection_select :food_id, foods, :id, :name, include_blank: true %><br>
  </div>
  <div class="field<%= '_with_errors' if meal_builder.object.errors[:new_food].any? %>">
    <%= meal_builder.label :new_food %>
    <%= meal_builder.text_field :new_food %><br>
  </div>
  <div class="field<%= '_with_errors' if meal_builder.object.errors[:qty].any? %>">
    <%= meal_builder.label :qty %>
    <%= meal_builder.text_field :qty %><br>
  </div>
  <div>
    <%= meal_builder.label :note %>
    <%= meal_builder.text_field :note %><br>
    <%= meal_builder.hidden_field :user_id %>
    <%= meal_builder.hidden_field :mealname_id %>
  </div>
</fieldset>
<% end %>
<% end %>
<%= f.submit %>
<% end %>
