<table>
  <tr align="left">
    <th>Edit</th>
    <th>Delete</th>  
    <th>ID</th>          
    <th>Date</th>
    <th>Diet</th>
    <th>User</th>
    <th>Meal</th>
    <th>Food</th>
    <th>Cals</th>
    <th>Qty</th>
    <th>Note</th>
  </tr>
  <% meals.each do |meal| %>
    <tr>
      <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
      <td><%= link_to 'Delete', meal_path(meal), :method => :delete, :confirm => 'Are you sure?' %></td>
      <td><%= meal.id %></td>        
      <td><%= meal.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= link_to meal.user.diet.name, diet_path(meal.user.diet) %></td>
      <td><%= link_to meal.user.username, user_path(meal.user) %></td>
      <td><%= link_to meal.mealname.name, meal_path(meal) %></td>
      <td><%= link_to meal.food.name, food_path(meal.food) %></td>
      <td><%= link_to meal.food.cals %></td>
      <td><%= link_to meal.qty %></td>
      <td><%= meal.note %></td>
    </tr>
  <% end %>
</table>