<table>
  <tr align="left">
    <th>Diet</th>
    <th>TotalGroupCals</th>
    <th>#Meals</th>
    <th>AvgCals/Meal</th>
  </tr>
  <tr>
    <td>Vegan</td>
    <td><%= @vegans_cals %></td>
    <td><%= @vegans_meal_count %></td>
    <td><%= @vegans_avg_cals_per_meal %></td>
  </tr>
  <tr>
    <td>Balanced</td>
    <td><%= @balancers_cals %></td>
    <td><%= @balancers_meal_count %></td>
    <td><%= @balancers_avg_cals_per_meal %></td>
  </tr>
  <tr>
    <td>Low Carb</td>
    <td><%= @lowcarbers_cals %></td>
    <td><%= @lowcarbers_meal_count %></td>
    <td><%= @lowcarbers_avg_cals_per_meal %></td>
  </tr>
  <tr>
    <td>Fishatarians</td>
    <td><%= @fishatarians_cals %></td>
    <td><%= @fishatarians_meal_count %></td>
    <td><%= @fishatarians_avg_cals_per_meal %></td>
  </tr>
  <td>Carnivores</td>
  <td><%= @carnivores_cals %></td>
  <td><%= @carnivores_meal_count %></td>
  <td><%= @carnivores_avg_cals_per_meal %></td>
</tr>
<tr>
  <td>Lumberjacks</td>
  <td><%= @lumberjacks_cals %></td>
  <td><%= @lumberjacks_meal_count %></td>
  <td><%= @lumberjacks_avg_cals_per_meal %></td>
</tr>
<tr>
  <td>Vampires</td>
  <td><%= @vampires_cals %></td>
  <td><%= @vampires_meal_count %></td>
  <td><%= @vampires_avg_cals_per_meal %></td>
</tr>
<tr>
  <td>Junk</td>
  <td><%= @junkers_cals %></td>
  <td><%= @junkers_meal_count %></td>
  <td><%= @junkers_avg_cals_per_meal %></td>
</tr>
</table>
