<%= form_for diet do |f| %>

 <% if diet.errors.any? %>
    <div id="error_explanation" class="flash_style">
      <h2>There were some errors:</h2>
      <ul>
        <% diet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field<%= ' field_with_errors' if diet.errors[:name].any? %>">
    <%= f.label :name %>
    <%= f.text_field :name %><br>
  </div>
  <%= f.submit %>
<% end %>