<div class="admin">
  <% if current_user.admin? %>
  <%= "ADMIN:" %>
  <% end %>
  <span id="users_index"><%= link_to "Users", admin_index_path %></span>
  |
   <span id="meals_index"><%= link_to "Meals", meals_path %></span>
  |
   <span id="mealnames_index"><%= link_to "Mealnames", mealnames_path %></span>
  |
   <span id="foods_index"><%= link_to "Foods", foods_path %></span>
  |
   <span id="groups_index"><%= link_to "Groups", groups_path %></span>
  |
   <span id="diets_index"><%= link_to "Diets", diets_path %></span>
</div>
