<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DietPlanner</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
<!-- user navbar -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <%= render 'layouts/header' %>
      </div>
    </div>
<!-- admin navbar -->
    <div class="row">
      <div class="col-lg-12">
          <%= render partial: 'layouts/admin_nav' if current_user && current_user.admin? %>
      </div>
    </div>
  </div>
<!-- main body (yield and flash messages) -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="flash_messages" class="flash_style">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, :class => "flash #{key}") %>
<!--             <p class="notice"><%#= notice %></p>
            <p class="alert"><%#= alert %></p> -->
          <% end %>
        </div>
      <%= yield %>
      </div>
    </div>
  </div>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  </body>
</html>
